<div>
	<form name="authorForm">
		<div class="modal-header">
			<h3 class="modal-title"> Dodaj autora</h3>
		</div>
		<div class="modal-body">
				<div class="form-group">
					<label for="title"><span class="glyphicon glyphicon-book"></span>
						Podaj Imie Autora </label> 
						
							<input required type="text" name="username"
							class="form-control" ng-model="author.firstName" id="authorFirstName" placeholder="Wpisz tutuł"/>
							<span style="color:red" ng-show="username.$invalid">
								<span ng-show="authorForm.username.$error.required">sssss</span>
								</span>
						
				</div>
				<div class="form-group">
					<label for="author"><span class="glyphicon glyphicon-user"></span>
						Podaj Nazwisko Autora</label> <input required="required" type="text" name="author"
						class="form-control" ng-model="author.lastName" id="authorLastName"
						placeholder="Wpisz autora">
				</div>
				<button id='saveNewAuthorButton' type="submit" class="btn btn-default btn-success btn-block"  ng-click="authorForm.$valid && addAuthorToList() && $dismiss()" >
					<span class="glyphicon glyphicon-save" ></span>
					Dodaj nowego autora
				</button>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="$dismiss()">Close</button>
		</div>
	</form>
</div>

