<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>
    
     <style>  
           table {
	            border-collapse: collapse;
	            width: 400px; }
           #boo td {
	            border: 2px solid #000000;
	            padding: 5px;}
           #boo .book {
                font-weight: bold;
                background-color: #C0C0C0; }  
           #boo .bookDel {
                font-weight: bold;
                background-color: #FF0033; }  
     </style>
</head>
<body>
<table id = "boo">
	<div th:each="book : ${bookDelete}">
       <tr class = "bookDel">
       <td><p th:text="${book.id}">id</p></td>
       <td><p th:text="${book.title}">title</p></td> 
       <td><p th:text="${book.authors}">authors</p></td> 
       <td><label>Pozycja usunieta</label></td>
       </tr>
    </div>
	
	
    <div th:each="book : ${books}">
       <tr class = "book">
       <td><p th:text="${book.id}">id</p></td>
       <td><p th:text="${book.title}">title</p></td> 
       <td><p th:text="${book.authors}">authors</p></td> 
         <td> <a  th:href="@{|/bookDelete/${book.id}|}"><span>Delete</span></a> </td>
       </tr>
    </div>
    </table>
    
</body>
</html>